@import "../../assets/styles/globals";

// Helper class for creating background overlay for the modal window 
._overlay {
    position: fixed;
    display: flex;
    min-height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--color-blue-2), transparent);
}

// Modal window styles
.modal {

    &__content {
        position: relative;
        width: rem(700);
        height: rem(550);
        overflow: hidden;
        padding: rem(24);
        border-radius: rem(4);
        background-color: var(--color-white-1);
        font-size: rem(21);
    }

    &__btnClose {
        position: absolute;
        display: flex;
        align-items: center;
        top: rem(16);
        right: rem(16);
        padding: rem(4);
        border-radius: rem(4);
        font-size: rem(17);
        outline: none;
        background-color: transparent;
        transition: all 100ms ease;

        &:hover {
            background-color: var(--color-gray-3);
            color: var(--color-gray-2);
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 33% auto;
        grid-column-gap: rem(32);
        grid-row-gap: rem(20);
        grid-template-areas: 
            "img descr"
            "details descr";
    }

    &__img {
        grid-area: img;
        min-width: 100%;

        & > img {
            width: 100%;
            height: 100%;
        }
    }

    &__descr {
        grid-area: descr;
        display: flex;
        flex-direction: column;
        gap: rem(20);

        & > p {
            display: -webkit-box;
            margin-bottom: rem(20);
            padding-right: rem(13);
            line-clamp: 16;
            -webkit-line-clamp: 16;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: rem(16);
            line-height: 160%;
        }
    }

    &__cta {
        display: block;
        width: 50%;
        height: rem(52);
        margin-top: auto;
        padding: rem(14) rem(16);
        border-radius: rem(4);
        text-align: center;
        font-size: rem(16);
        font-weight: 600;
        line-height: 148%;
        color: var(--color-white-1) !important;
        background-color: var(--color-blue-1);
        transition: background-color 200ms ease-out;

        &:hover {
            background-color: var(--color-blue-5);
        }
    }

    &__details {
        grid-area: details;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: rem(23);
        margin-bottom: rem(10);
        letter-spacing: rem(0.48);
    }

    &__author {
        margin-bottom: rem(20);
        font-size: rem(18);
    }

    &__publisher {
        margin-top: auto;
        color: var(--color-gray-1);

        & > p {
            margin-bottom: rem(10);
            font-size: rem(16);
        }

        & > span {
            font-size: rem(12);
        }
    }
}